.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App,
.path-finder,
.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 2px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.path {
  background-color: grey;
}

.valid-path {
  background-color: rgb(20, 158, 55);
}

.invalid-path {
  background-color: rgb(167, 13, 13);
}

.obstacle {
  background-color: rgb(27, 27, 27);
}

.button {
  background-color: rgb(19, 22, 26);
  color: rgb(66, 241, 12);
  font-size: 22px;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.path-info {
  font-weight: 600;
  font-size: large;
  margin-bottom: 10px;
}
